<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FlamingPlanet</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="main-view" data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <div class="container">
      <header class="custom-header">
        <div class="left">
          <a href="https://www.youtube.com/watch?v=kCpjgl2baLs">Oh no!</a>
        </div>
        <div>
          <img src="http://drt911.com/wp-content/uploads/2014/07/Fire-Icon-Website.png" alt="fire" height="40" width="40">
          <span class="trouble-message"><em>THIS IS BAD. What do we do?!</em></span>
          <img src="http://drt911.com/wp-content/uploads/2014/07/Fire-Icon-Website.png" alt="fire" height="40" width="40">
        </div>
        <div class="right">
          <a href="https://xkcd.com/1732/">We're doomed!</a>
        </div>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <div class="footer">
      <div class="container">
        <div class="copyright">
          © FlamingPlanet Productions 2017
        </div>
        <div class="kitten-footer">
          <a href="https://www.buzzfeed.com/chelseamarshall/best-kitten-pictures">Depressed? Have some kittens!</a>
        </div>
      </div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
