<h2>Post a news item</h2>

<%= render "form.html", changeset: @changeset, button_text: "Create news item",
                        action: news_item_path(@conn, :create) %>

<%= link "Back", to: news_item_path(@conn, :index) %>
