<h2>New donation</h2>

<%= render "form.html", changeset: @changeset, button_text: "Create new donation-worthy thing",
                        action: manage_donation_path(@conn, :create) %>

<%= link "Back", to: manage_donation_path(@conn, :index) %>
