<h2>Show donation</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @donation.title %>
  </li>

  <li>
    <strong>Info link:</strong>
    <%= @donation.info_link %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @donation.description %>
  </li>

</ul>

<%= link "Edit", to: donation_path(@conn, :edit, @donation) %>
<%= link "Back", to: donation_path(@conn, :index) %>
