/* This file is for your main application css. */
.main-view {
  background-color: #000;
}

.category-button {
  background-color: #D33;
  font-weight: bold;
  font-size: 1.5em;
  color: #FFF;
  padding: 10px;
  margin: 4px;
  border-radius: 7px;
  border: 2px solid #CCC
}

.next-button {
  background-color: #33D;
  font-weight: bold;
  font-size: 1.5em;
  color: #FFF;
  padding: 10px;
  margin: 4px 4px 40px 4px;
  border-radius: 7px;
  border: 2px solid #CCC;
  width: 400px;
  text-align: center;
}

.next-button:hover {
  cursor: pointer;
}

.custom-header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
  text-align: center;
}

.custom-header div {
  font-family: 'Francois One', sans-serif;
  display: inline-block;
  text-align: left;
}

.custom-header .right {
  padding-left: 40px;
}

.custom-header .left {
  padding-right: 40px;
}

.custom-header div a {
  color: #AAA;
}

.centered-header {
  text-align: center;
}

.trouble-message {
  font-size: 1.8em;
  color: #F80;
  padding: 0px 10px;
}

.content {
  font-family: 'Francois One', sans-serif;
  margin-bottom: 20px;
  height: 200px;
}

.content h2 {
  font-size: 3.6em;
  margin-botton: 15px;
}

.content h2 a {
  color: #FF5;
}

.content p {
  font-size: 1.5em;
  color: #FF9;
}

.footer {
  font-family: 'Francois One', sans-serif;
}

.kitten-footer {
  padding-top: 40px;
  float: right;
}

.kitten-footer a {
  color: #AAA;
}

.copyright {
  padding-top: 40px;
  float: left;
  color: #777;
}

.yes-but {
  font-family: 'Francois One', sans-serif;
  font-size: 1.8em;
  color: #AAA;
  padding-bottom: 10px;
}

.lead-in {
  font-family: 'Francois One', sans-serif;
  font-size: 1.8em;
  color: #AAA;
}

