<h2>Edit government action</h2>

<%= render "form.html", changeset: @changeset, button_text: "Submit",
                        action: manage_government_action_path(@conn, :update, @government_action) %>

<%= link "Back", to: manage_government_action_path(@conn, :index) %>
