<h1>Welcome, <%= @current_admin.username %>!</h1>

<p><%= link "Daily Tasks", to: daily_task_path(@conn, :index), class: "btn btn-primary btn-large" %></p>
<p><%= link "Inspirational Stuff", to: inspiration_path(@conn, :index), class: "btn btn-primary btn-large" %></p>
