<div class="content"></div>
<div class="next-button">
  <a href="#" class="next-button">Next</a>
</div>
<div class="yes-but">All right, but what I really want to know is...</div>
<div class="other-categories"></div>
